@value makerGreen, makerGrey, makerPink from '../../common/colors.css';

.container {
  font-size: 1rem;
  padding: 5px 25px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: color 0.5s;
}

.container:hover {
  color: makerGrey;
}

.container.active {
  color: makerGreen;
}

.remove {
  color: makerPink;
}
