@value makerLightGrey from '../../common/colors.css';

.box {
  flex-basis: 200px;
}

.categories {
  padding-top: 10px;
  height: 320px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.categories::-webkit-scrollbar {
  width: 6px;
}

.categories::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: makerLightGrey;
}
