@value makerGreen from '../../common/colors.css';

.box {
  flex-basis: 200px;
}

.addButton {
  background-color: makerGreen;
  color: #fff;
  font-size: 0.875rem;
  padding: 3px 6px;
  transition: opacity 0.5s;
  border-radius: 3px;
  margin: 10px 0;
}

.addButton:hover {
  opacity: 0.8;
}

.categories {
  padding-top: 10px;
}
