@value makerGreen, makerLightGrey from '../../common/colors.css';

.container {
  flex-grow: 1;
  margin-left: 20px;
  position: relative;
}

.title {
  font-weight: bold;
  padding: 0 0 10px 5px;
  border-bottom: 1px solid makerLightGrey;
}

.name,
.number {
  display: inline-block;
}

.name {
  font-size: 1rem;
  padding-right: 10px;
}

.number {
  font-size: 0.875rem;
  color: makerGreen;
}

.todos {
  padding-top: 10px;
  height: 320px;
  margin-bottom: 10px;
  overflow-y: auto;
}

.todos::-webkit-scrollbar {
  width: 6px;
}

.todos::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: makerLightGrey;
}
