@value makerGreen, makerLightGrey from '../../common/colors.css';

.container {
  flex-grow: 1;
  margin-left: 20px;
}

.title {
  font-size: 1.25rem;
}

.results {
  padding: 15px 5px 0;
  height: 320px;
  overflow-y: auto;
}

.results::-webkit-scrollbar {
  width: 6px;
}

.results::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: makerLightGrey;
}
