@value makerGreen, makerGrey from '../../common/colors.css';

.header {
  display: flex;
  align-items: center;
}

.title {
  padding-right: 35px;
  font-size: 1.25rem;
}

.title > span {
  display: inline-block;
}

.date {
  font-size: 1rem;
  padding-left: 10px;
}

.day {
  font-size: 0.875rem;
  padding-left: 5px;
  color: makerGrey;
}

.input {
  width: 200px;
  height: 34px;
  padding: 0 6px;
  font-size: 0.75rem;
}
